zigbee2mqtt/data/log
nginx/client_certs
nginx/logs
mosquitto/log
mosquitto/config/passwd.txt
hassio/config/evohome
hassio/config/home-assistant.log
hassio/config/home-assistant.log.1
hassio/config/home-assistant.log.fault
hassio/config/secrets.yaml
hass_api/.venv
nginx/data/certbot/conf/archive
nginx/data/certbot/conf/accounts
nginx/data/certbot/conf/csr
nginx/data/certbot/conf/keys
nginx/data/certbot/conf/live
appdaemon/apps/secrets.yaml
**/__pycache__/
*.pyc
*.log
*.logs
.env
**/.storage/
*.tar
hassio/config/home-assistant_v2.db
hassio/config/home_assistant_v2.db-shm
hassio/config/home_assistant_v2.db-wal
hassio/config/custom_components/*
hassio/config/home-assistant_v2.db-wal


