
# Use this file to store secrets like usernames and passwords.
# Learn more at https://www.home-assistant.io/docs/configuration/secrets/
some_password: welcome

spotify_client_secret: "see bitwarden"
spotify_client_id: "see bitwarden"
github: "no longer valid"
evohome_user: "peter.lietaer@gmail.com"
evohome_password: "same password as in app"
